* {
  margin: 0;
}
/* Main Section Styles */
body {
  background: #e5e5e5;
}
main {
  max-width: 870px;
  margin: auto;
}
.main-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin-bottom: 40px;
}

/* Players-and-Blogs Section */
.players-and-blogs {
  background: #ffffff;
  height: 679px;
  border-radius: 5px;
  padding: 30px;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.players {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.players img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.players h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  padding-left: 16px;
}
hr {
  width: 807px;
  border: 1px solid #d1d1d1;
  margin: auto;
}
/* Blogs */
.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
}
