* {
  margin: 0;
}
/* Main Section Styles */
body {
  background: #e5e5e5;
}
main {
  max-width: 870px;
  margin: auto;
}
.main-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin-bottom: 40px;
}
.title-color {
  color: #562eff;
}
/* Players-and-Blogs Section */
.players-and-blogs {
  background: #ffffff;
  height: 679px;
  border-radius: 5px;
  padding: 30px;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.players {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.players img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.players h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  padding-left: 16px;
}
hr {
  width: 807px;
  border: 1px solid #d1d1d1;
  margin: auto;
}
/* Blogs */
.blogs {
  margin-top: 30px;
}
.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
  margin-bottom: 30px;
}
.blog-description {
  margin-left: 16px;
}
.blog h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.blog p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
  margin-top: 6px;
}
/* Courses */
.courses {
  background: #ffffff;
  height: 362px;
  border-radius: 5px;
  padding: 30px;
  margin-top: 25px;
}
.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}
.course img {
  width: 224px;
  height: 104px;
}
.course-description {
  width: 224px;
  margin-top: 20px;
}
.course h2 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  color: #1e1e1e;
  margin-bottom: 7px;
}
.course p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  color: #ed6b4f;
}
.course-ratings-container {
  display: flex;
  align-items: center;
}
.star-container img,
.duration img {
  height: 12px;
  width: 12px;
}
.rate p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  color: #a2a2a2;
  margin: 0px 8px;
  margin-top: 7px;
}
.duration {
  display: flex;
  align-items: center;
  background: #ffe4e8;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 7px;
}
.duration p {
  color: #ff4a60;
  margin-left: 5px;
}
/* Media */
@media screen and (max-width: 576px) {
  .players-and-blogs {
    width: 100%;
    height: 1050px;
  }
  .players-container {
    grid-template-columns: repeat(2, 1fr);
  }
  hr {
    display: none;
  }
  .blogs-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
