* {
  margin: 0;
}
/* Main Section Styles */
body {
  background: #e5e5e5;
}
main {
  max-width: 870px;
  margin: auto;
}
.main-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  color: #562eff;
  margin-bottom: 40px;
}
.title-color {
  color: #562eff;
}
/* Players-and-Blogs Section */
.players-and-blogs {
  background: #ffffff;
  height: 679px;
  border-radius: 5px;
  padding: 30px;
}

.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.players {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.players img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.players h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  padding-left: 16px;
}
hr {
  width: 807px;
  border: 1px solid #d1d1d1;
  margin: auto;
}
/* Blogs */
.blogs {
  margin-top: 30px;
}
.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
  margin-bottom: 30px;
}
.blog-description {
  margin-left: 16px;
}
.blog h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.blog p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
  margin-top: 6px;
}

/* Media */
@media screen and (max-width: 576px) {
  .players-and-blogs {
    width: 100%;
    height: 1050px;
  }
  .players-container {
    grid-template-columns: repeat(2, 1fr);
  }
  hr {
    display: none;
  }
  .blogs-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* .blog p {
    margin-bottom: 10px;
  } */
}
